openpyxl == 3.1.2
pandas 
pyswmm == 2.0.0
swmmio == 0.7.0
matplotlib == 3.8.4
pyvista == 0.43.9
stl == 0.0.3
isodate             == 0.6.1
lark                == 1.1.9
numpy              
pip                 == 22.0.2
python-dateutil     == 2.9.0.post0
setuptools          == 59.6.0
shapely             == 2.0.5
six                 == 1.16.0
trimesh             == 4.4.3
typing_extensions   == 4.12.2
ezdxf